.row2  		{ background-color: #8CEFFD}
.row1   	{ background-color: #06DCFB}
.data		{ background-color: #06DCFB}
.highlight	{ background-color: #C0F7FE}
.hdr		{ background-color: #06DCFB}
.h2		{ background-color: #18F000}
.h3		{ background-color: #078B3E}
h1		{ background-color: #18F000}
th		{ font-family: Arial; font-size: 100%; font-weight: bold; }
tr		{ font-family: Arial; font-size: 70%; }
BODY		{font-family: Arial; font-size: 50%; background-color: #486386 }
